html, body {
  margin: 0;
  background: rgb(218,216,246);
background: linear-gradient(90deg, rgba(218,216,246,1) 14%, rgba(195,150,45,1) 37%, rgba(185,172,172,1) 93%);
}

.navigation-container{
  background-color: black;
  height: 100px;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  color: white;
  margin-top: 0;
}
li{
  list-style-type: none;
  margin-top: 15px;
}
a{
  text-decoration: none;
  color: white;
}

/*стилі для Home*/
.greeting-container{
  text-align: center;
  color: rgb(7, 8, 2);
  word-spacing: 5px;
  letter-spacing: 4px;
  font-size: 40px;
  font-style: italic;
  width: 50%;
  height: 500px;
  margin: 90px auto;
  text-shadow: rgb(12, 11, 4) 25px 10px 20px;
}
p{
  color: rgb(85, 14, 9);
  font-weight: 500;
}

/*стилі для Post*/
.post-description{
  margin-top: 20px ;
  font-size: 40px;
  text-align: center;
  color: white;
  text-shadow: rgb(9, 8, 3) 25px 15px 10px;
  
}
.container{
  margin: 50px auto;
  width: 500px;
  background-color: white;
  border-radius: 10px;
}
.header_container{
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px 0 ;
}
.photo{
  width: 15%;
  margin: 10px  10px 0 10px;
}
.header_nick{
  font-size: 20px;
  font-weight: 500;
}
.photo1, .photo2 {
  width: 100%;
}
.content-text{
  margin: 0 133px 10px 10px;
  font-size: 17px;
  font-weight: 500;
}
.foter_container{
  display: flex;
  justify-content: left;
  
}
.footer_nick{
  margin: 0 10px;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}
.footer_text{
  font-size: 17px;
  font-weight: 400;
}

/*стилі для Contact*/

.contact-wrapper{
  display: flex;
  justify-content: space-between;
}
.contact-info{
  margin: 300px 0 0 150px;
  text-align: center;
  color: rgb(249, 249, 249);
  word-spacing: 5px;
  letter-spacing: 4px;
  font-size: 35px;
  font-style: italic;
  text-shadow: rgb(12, 11, 4) 25px 10px 20px;
}

.contact-container{
  margin: 20px auto;
  width: 23%;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}
.title{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.input{
  width: 99%;
  font-size: 30px;
  border-radius: 5px;
  background: #e3e3e3;
}
.filter-icons{
  display: flex;
  justify-content: space-between;
  margin: 40px;
}
.filter-icon{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
span{
  font-size: 20px;
}
.contact-box{
  height: 500px;
  overflow-y: scroll;
}
.mainName{
  font-size: 35px;
  margin: 10px auto;
  padding-bottom: 10px;
  border-bottom: solid 5px rgb(210, 207, 207); 
  display: flex;
  justify-content: space-between;
}
.additionalInf{
  font-size: 25px;
  margin: 0;
  text-align: center;
}
.photo{
  width: 15%;
}
.photo-container{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 flex-direction: row;
 
}
.photos{
  margin: 20px 50px 20px 100px;
  width: 20%;
}